.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    padding: 2.5em 2em;
    text-align: center;
}

.banner__titulo {
    font-weight: 700;
    font-size: 18px;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
    line-height: 22px;
}

.banner__pesquisa {
    border: 1px solid var(--branco);
    background-color: transparent;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    color: var(--branco);
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(../Images/Pesquisa.svg) no-repeat;
    background-position: 3em;
    padding: 2.8em;
}

.banner__pesquisa:hover {
    outline: none;
}

@media screen and (min-width: 1024px) {

    .banner {
        padding: 3.5em 0;
    }

    .banner__titulo {
        font-size: 36px;
    }

    .banner__texto {
        font-size: 24px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 7em;
    }
}

@media screen and (min-width: 1728px) {
    
    .banner {
        padding: 5em 0;
    }

    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 12em;
    }
}
    