.carrossel__titulo{
    background: var(--branco);
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 .5em 0;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-slide img{
    width: 100%;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descrição{
    margin-right: 1em;
}

.estrelinhas{
    margin-bottom: 1em;
}

.descrição__titulo, .descrição__titulo-livro, .descrição__text{
    line-height: 22px;
}

.descrição__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto{
    font-size: 14px;
}

.descrição__imagem{
    margin-bottom: 1em;
}

.card__botões{
    display: flex;
    justify-content: space-between;
}

.botões{
    display: flex;
}

.botões__ancora{
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}