header{
    background: #BBBBBB;
    padding: 20px 0px;
}
.caixa{
    position: relative; /*Alterando posição*/
    width: 940px; /*Tamanho padrão ideal*/
    margin: 0 auto;
}
nav{
    display: block;
    position: absolute;
    top: 110px;/*Definindo o topo*/
    right: 0; /*Definindo a direita*/
}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a{
    text-transform: uppercase;/*Transformar texto em maiúsculo*/
    color: #000000;
    font-weight: bold; /*Tranformar fonte em negrito*/
    font-size: 22px;
    text-decoration: none; /*Tirar a decoração do texo*/
}
nav a:hover{ /*Ao passar em cima*/
    color: #C78C19;
    text-decoration: underline;
}
main{
   
}
.principal-contato{
    width: 940px;
    margin: 40px;
}
form{
    margin: 40px 0px;
}
form label, form legend{ /*Da pra utilizar nos 2*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; /*Definindo transição de 1 segundo para todas as coisas desse elemento*/
    cursor: pointer; /*Definindo o tipo de cursor*/
}
.enviar:hover{
   background: darkorange; 
   transform: scale(1.2); /*Definindo uma transformação, nesse caso de escala/aumento*/
}

table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
footer{
    text-align: center;
    background: url(../Images/bg.jpg);
    padding: 40px 0px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
@media screen and (max-width: 480px){
    .caixa, .principal-contato {
        width: auto;
    }
    form{
        width: auto;
        margin: 0;
    }
    nav{
        position: static;
    }
    textarea{
        width: 375px;
    }
    .input-padrao{
        width: auto;
    }
}